<li class="nav-dropdown-container language">
  <a class="nav-link">titlt5</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="https://cn.vuejs.org/<%- page.path %>" class="nav-link" target="_blank">1</a></li>
    <li><a href="https://jp.vuejs.org/<%- page.path %>" class="nav-link" target="_blank">2</a></li>
    <li><a href="https://ru.vuejs.org/<%- page.path %>" class="nav-link" target="_blank">3</a></li>
    <li><a href="https://kr.vuejs.org/<%- page.path %>" class="nav-link" target="_blank">4</a></li>
    <li><a href="https://br.vuejs.org/<%- page.path %>" class="nav-link" target="_blank">5</a></li>
    <li><a href="https://fr.vuejs.org/<%- page.path %>" class="nav-link" target="_blank">6</a></li>
  </ul>
</li>
