<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">
  </form>
</li>
<li><a href="<%- url_for("/v2/guide/") %>" class="nav-link<%- page.path.match(/guide/) ? ' current' : '' %>">Guide</a></li>
<li><a href="<%- url_for("/2017/08/17/一份IOS开发工程师的简历/") %>" class="nav-link<%- page.path.match(/none/) ? ' current' : '' %>">个人介绍</a></li>
<li><a href="<%- url_for("/blog/") %>" class="nav-link<%- page.path.match(/examples/) ? ' current' : '' %>">我的博客</a></li>
<%- partial('partials/ecosystem_dropdown') %>
<%- partial('partials/language_dropdown') %>
<li>
  <a href="https://vue.threadless.com" target="_blank" class="nav-link shop">捐赠</a>
</li>
